In [2]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('seattle-weather.csv', index_col = 0)
df.head()

            precipitation  temp_max  temp_min  wind  weather
date
2012-01-01            0.0      12.8       5.0   4.7  drizzle
2012-01-02           10.9      10.6       2.8   4.5     rain
2012-01-03            0.8      11.7       7.2   2.3     rain
2012-01-04           20.3      12.2       5.6   4.7     rain
2012-01-05            1.3       8.9       2.8   6.1     rain

In [3]:
X = df.drop('weather', axis = 1)
y = df['weather']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.6, random_state=42)

In [4]:
X_train.head()

            precipitation  temp_max  temp_min  wind
date
2013-03-18            0.0      11.7       3.9   5.9
2012-11-15            0.0       9.4       2.8   2.4
2014-02-06            0.0      -1.6      -6.0   4.5
2014-01-26            0.0       8.3       0.6   1.3
2013-02-28            8.1      11.7       6.7   3.8

In [5]:
model = RandomForestClassifier()

In [6]:
model.fit(X_train, y_train) # treniruem model

model.score(X_test, y_test) 
model.score(X_train, y_train)

0.997716894977169

In [7]:
example = {'precipitation': [0.0],
 'temp_max': [12.8],
 'temp_min': [5.0],
 'wind': [4.7]}

In [8]:
example_df = pd.DataFrame(example)

In [9]:
model.predict(example_df)

array(['drizzle'], dtype=object)

In [10]:
# I'll code better!